@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.height__screen {
  height: 100vh;
  height: 100svh;
}

#hero__section {
  background-image: url("../../public/hero-pattern.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#who__should__attend {
  background-image: url("../../public/who-should-attend-bg.webp");
  background-size: cover;
  background-position-x: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero__header {
  background-image: url("../../public/graduation.webp");
  background-position: center;
  text-transform: uppercase;
  background-size: cover;
  -webkit-background-clip: text;
  color: rgba(30, 71, 17, 0.8);
}

.tool {
  color: #1e4711;
}

.preview__program {
  @apply max-h-[400px] overflow-clip;
}

.fade-left {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    transparent 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 25%;
}

.fade-right {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    transparent 100%
  );
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 25%;
}

#registration {
  background-image: url("../../public/nike-lake.webp");
  background-size: cover;
  background-position-x: 50%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.input__field {
  @apply w-full border-2 border-light bg-light rounded text-dark py-1 sm:py-1 px-2 focus:outline-none focus:border-dark block appearance-none;
}
@media (min-width: 1024px) {
  /* #hero__section {
    background-image: url("../../public/pattern.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  } */
}

select:before {
  /*pointer-events: none;*/
  content: "\f0d7";
  font-size: 2em;
  font-family: "FontAwesome";
  line-height: 12px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 40%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.speaker_bio ::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: #1e4711; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners of the scrollbar thumb */
}

/* Scrollbar Track when hovering over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #9ce19e; /* Color of the scrollbar thumb on hover */
}

/* Why attend */
.why__attend {
  background-image: url("../../public/why-bg.png");
  background-size: cover;
  background-position-x: 50%;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  text-align: center;
}
